body {

    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

 .div, img{

    width: 10%;
    border: 2px solid rgb(242, 255, 238);
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition:  width,filter ease 0.4s;
    transition:  transform ease 3s;

}
.div, img:hover{
    filter: saturate(100%);
    width: 50%;
    transform: translateX(400px);
    box-shadow: 0 0 20px #00fffc, 0 0 40px #00fffc, 0 0 60px #00fffc;
}